---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Astro</h1>
		<h1>Welcome to my Website!</h1>
		<p style="color:pink">This paragraph is green</p>
		<p style="color:rgb(28, 191, 112)">This paragraph is reddd</p>
		<h2>This is a subheading</h2>
		<ul>
			<li>My favourite colour is...</li>
			<li>My favourite movie is...</li>
			<li>A website I visit often is <a href="###">abc</a></li>
		</ul>
		<h2>Here is a picture !</h2>
		<img src="https://images.app.goo.gl/5dSVqScgx3X38M6a6">
		
	</body>
</html>
