<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link rel="stylesheet" href="/src/styles/global.css"/>
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Shawn Mendes' Greatest Hits</title>
	</head>
	<body>
		<header class="web_header">
            <div class="branding">
                <h1>Shawn Mendes</h1>
                <h2>blog</h2>
            </div>
            
            <nav class="header_li">
                <li><a href="index.html">home</a></li>
                <li><a href="about.html">about</a></li>
                <li><a href="news.html">news</a></li>
				<li><a href="playlist.html">playlist</a></li>

            </nav>

        </header>
        <main id="playlistmain">
            <p>SImmerse yourself in the best of Shawn Mendes with this curated playlist. Add your favorite tracks or shuffle for a new listening experience every time!

            </p>
            <img src="https://www.newsx.com/wp-content/uploads/2024/11/Shawn-Mendes.webp">
            
            <ol class="order">
                <h3>Playlist</h3>
                <li>Treat You Better</li>
                <li>Señorita</li>
                <li>In My Blood</li>
                <li>Wonder</li>
                <li>Mercy</li>
                <li>There's Nothing Holdin' Me Back</li>
                <li>If I Can't Have You</li>
            </ol>
            <img src="https://i.etsystatic.com/26468723/r/il/8c7eb8/5259773178/il_1588xN.5259773178_ruvh.jpg">


        </main>
        <footer>
            
            <p>&copy;2014 Island_Records</p>
            <ul>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Terms & Conditions</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
        </footer>

    </body>

</html>